@charset "UTF-8";
/* Feuille de style des menus*/
:root {
  --main-color: #9356DC; /* primaire(--main-color) */
  --second-color: #FF79DA; /* secondaire(--second-color) */
  --green-color: #99E2D0; /* vert(--green-color) */
  --formulaire-color:#EAEAEA; /* gris foncé*/
  --title-color: #F6F6F6; /* gris clair */
}

:root {
  --police-principale:"Roboto", sans-serif;
  --police-logo-titre:"shrikhand", sans-serif;
}

@keyframes rotation {
  from {
    transform: rotate(-540deg);
  }
  to {
    transform: rotate(0deg);
  }
}
@keyframes apparition-card {
  0% {
    opacity: 0;
    transform: translateY(1.6rem);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}
body {
  margin: 0px;
}

.main-container {
  margin: 0px;
}

.logos {
  display: flex;
  align-items: center;
  justify-content: center;
  padding-top: 17px;
  padding-bottom: 17px;
}
.logos .retour {
  position: absolute;
  width: 20px;
  left: 25px;
  top: 27px;
  right: 0;
  bottom: 0;
  color: #353535;
}
.logos .retour:hover {
  cursor: pointer;
  color: var(--formulaire-color);
}
.logos .logos-mobile {
  display: inline;
}
@media (min-width: 1024px) {
  .logos .logos-mobile {
    display: none;
  }
}
.logos .logos-desktop {
  display: none;
}
@media (min-width: 1024px) {
  .logos .logos-desktop {
    display: inline;
  }
}

.main {
  display: flex;
  width: 100%;
  flex-direction: column;
}
.main .img-menu img {
  width: 100%;
  height: 300px;
  object-fit: cover;
}
.main .restaurant-menu {
  display: flex;
  flex-direction: column;
  background-color: #F6F6F6;
  border-radius: 40px 40px 0px 0px;
  margin-top: -55px;
  gap: 16px;
  position: relative;
  z-index: 1;
  align-items: center;
  width: 100%;
}
@media (min-width: 1024px) {
  .main .restaurant-menu {
    width: 70%;
    align-items: center;
    align-self: center;
  }
}
.main .restaurant-menu .__titre {
  display: flex;
  flex-direction: row;
  padding-top: 20px;
  padding-right: 24px;
  align-items: center;
  gap: 40px;
  font-family: var(--police-logo-titre);
  font-size: 14px;
}
.main .restaurant-menu .card-heart {
  height: 2rem;
  width: 2rem;
  display: inline-block;
  align-items: center;
  justify-content: center;
  position: relative;
  overflow: hidden;
}
.main .restaurant-menu .card-heart .icon-empty {
  opacity: 1;
  font-size: 1.6rem;
  cursor: pointer;
  position: absolute;
  transition: 0.2s linear;
}
.main .restaurant-menu .card-heart .icon-fill {
  opacity: 0;
  font-size: 1.6rem;
  cursor: pointer;
  position: absolute;
  z-index: 2;
  background: linear-gradient(0deg, #ab5edc 0%, #df6fda 58%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  transition: 0.2s linear;
}
.main .restaurant-menu .card-heart:hover .icon-fill {
  opacity: 1;
}
.main .restaurant-menu .card-heart:hover .icon-empty {
  opacity: 0;
}
.main .cards-menus {
  animation: apparition-card;
  width: 100%;
}
@media (min-width: 1024px) {
  .main .cards-menus {
    display: flex;
    justify-content: center;
    flex-direction: column;
    width: 60%;
    font-family: var(--police-principale);
  }
}
.main .cards-menus:first-child {
  animation-duration: 2s;
  animation-delay: 0s;
}
.main .cards-menus:nth-child(2) {
  animation-duration: 3s;
  animation-delay: 0, 3s;
}
.main .cards-menus:last-child(2) {
  animation-duration: 3s;
  animation-delay: 0, 3s;
}
.main .cards-menus .card-menu {
  display: flex;
  justify-content: center;
  flex-direction: column;
  font-family: var(--police-principale);
  padding: 10px;
}
.main .cards-menus .card-menu h3 {
  font-weight: 100;
  margin-bottom: 12px;
  font-size: 16px;
  padding-bottom: 5px;
  border-bottom: 3px solid var(--green-color);
  width: 40px;
  justify-content: flex-start;
}
.main .cards-menus .card-menu .card-content {
  width: 100%;
  background: #FFFFFF;
  box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.1);
  border-radius: 15px;
  margin-bottom: 12px;
  display: flex;
  justify-content: space-between;
  overflow: hidden;
}
.main .cards-menus .card-menu .card-content:hover {
  cursor: pointer;
  box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.2509803922);
}
.main .cards-menus .card-menu .card-content .__txt {
  padding: 12px 18px 12px 10px;
  width: 100%;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.main .cards-menus .card-menu .card-content .__txt h4 {
  margin: 0;
}
.main .cards-menus .card-menu .card-content .__txt .__coupe {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.main .cards-menus .card-menu .card-content .__txt p {
  margin: 0;
  padding-top: 10px;
  font-weight: 300;
}
.main .cards-menus .card-menu .card-content .hover-check {
  display: flex;
  align-items: center;
  position: relative;
  left: 70px;
  transform-origin: right;
  transition: all 450ms ease;
  transform: translateX(0);
}
.main .cards-menus .card-menu .card-content .hover-check:hover {
  left: 0px;
}
.main .cards-menus .card-menu .card-content .hover-check .price {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  justify-content: center;
  padding-bottom: 12px;
  padding-right: 25px;
  font-size: 15px;
  font-weight: 700;
  color: #353535;
}
.main .cards-menus .card-menu .card-content .hover-check .check {
  width: 60px;
  background-color: #99E2D0;
  height: 69px;
  justify-content: center;
  border-radius: 0px 15px 15px 0px;
  display: flex;
  align-items: center;
  font-size: 31px;
  padding: 2px;
}
.main .cards-menus .card-menu .card-content .hover-check i.fa-circle-check {
  background-color: #99E2D0;
  width: 30px;
  height: 30px;
  border-radius: 20px;
  color: white;
}
.main .commander-btn {
  display: flex;
  justify-content: center;
  padding-top: 10px;
  padding-bottom: 20px;
}
.main .commander-btn .btn {
  border-radius: 25px;
  padding: 16px 25px;
  background: linear-gradient(var(--main-color), var(--second-color));
  color: white;
  text-align: center;
  border: none;
  box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.2509803922);
}
.main .commander-btn .btn:hover {
  opacity: 0.85;
  cursor: pointer;
}

footer {
  padding: 10px 0px 10px 0px;
  background-color: #353535;
}
@media (min-width: 1024px) {
  footer {
    display: flex;
    align-items: center;
    flex-direction: row-reverse;
    padding-top: 50px;
  }
}
footer .footer-logo {
  font-family: var(--police-logo-titre);
  color: white;
  font-size: 19px;
  list-style: none;
  padding-left: 40px;
}
@media (min-width: 1024px) {
  footer .footer-logo {
    padding-left: 80px;
    padding-right: 70px;
  }
}
footer .footer-complet {
  display: flex;
  flex-direction: column;
  align-items: baseline;
  gap: 17px;
  font-family: var(--police-principale);
  list-style: none;
  font-weight: 500;
}
@media (min-width: 1024px) {
  footer .footer-complet {
    flex-direction: row;
    gap: 19px;
  }
}
footer .footer-complet li {
  display: flex;
  gap: 18px;
}
@media (min-width: 1024px) {
  footer .footer-complet .__mention {
    padding-left: 49px;
  }
}
footer .footer-complet a {
  text-decoration: none;
  color: white;
}
footer .footer-complet .fa-handshake-angle {
  width: 13px;
}/*# sourceMappingURL=style.css.map */