@charset "UTF-8";
:root {
  --main-color: #9356DC; /* primaire(--main-color) */
  --second-color: #FF79DA; /* secondaire(--second-color) */
  --green-color: #99E2D0; /* vert(--green-color) */
  --formulaire-color:#EAEAEA; /* gris foncé*/
  --title-color: #F6F6F6; /* gris clair */
}

:root {
  --police-principale:"Roboto", sans-serif;
  --police-logo-titre:"shrikhand", sans-serif;
}

body {
  margin: 0px;
}

.main-container {
  margin: 0px;
}

.logo {
  display: flex;
  justify-content: center;
  padding-top: 10px;
  padding-bottom: 10px;
}
.logo .logo-desktop {
  display: none;
}
@media (min-width: 1024px) {
  .logo .logo-mobile {
    display: none;
  }
  .logo .logo-desktop {
    display: inline;
  }
}

.formulaire--barre-recherche {
  display: flex;
  background-color: var(--formulaire-color);
  display: flex;
  padding-top: 15px;
  padding-bottom: 15px;
  justify-content: center;
  gap: 10px;
  margin: 0;
  box-shadow: inset 0px 2px 5px 0px rgba(0, 0, 0, 0.2509803922);
}
.formulaire--barre-recherche--ville {
  border: none;
  background-color: var(--formulaire-color);
}
@media (min-width: 1024px) {
  .formulaire--barre-recherche {
    box-shadow: none;
  }
}

.Reservation {
  display: flex;
  flex-direction: column;
  padding: 20px;
  background-color: var(--title-color);
  box-shadow: inset 0px 2px 2px 0px rgba(0, 0, 0, 0.2509803922);
}
@media (min-width: 1024px) {
  .Reservation {
    box-shadow: none;
  }
}
.Reservation .Reservation-title {
  font-family: var(--police-principale);
  text-align: center;
  width: 100%;
  font-size: 25px;
}
.Reservation .Reservation-txt {
  font-family: var(--police-principale);
  font-weight: 100;
  text-align: center;
  margin-top: 0px;
}
.Reservation-btn {
  display: flex;
  justify-content: center;
  padding-bottom: 40px;
  padding-top: 10px;
}
.Reservation-btn .btn {
  border-radius: 25px;
  padding: 16px 25px;
  background: linear-gradient(var(--main-color), var(--second-color));
  color: white;
  text-align: center;
  border: none;
  box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.2509803922);
}

.Fonctionnement {
  display: flex;
  justify-content: center;
  padding: 30px;
  flex-direction: column;
  font-family: var(--police-principale);
}
@media (min-width: 1024px) {
  .Fonctionnement {
    padding: 50px 140px 80px;
  }
}
.Fonctionnement .Fonctionnement__liste {
  position: relative;
  flex: 1;
}
@media (min-width: 1024px) {
  .Fonctionnement .Fonctionnement__liste {
    justify-content: space-between;
  }
}
.Fonctionnement .Fonctionnement__liste .liste {
  display: flex;
  flex-direction: column;
  padding: 0%;
}
@media (min-width: 1024px) {
  .Fonctionnement .Fonctionnement__liste .liste {
    flex-direction: row;
    gap: 30px;
    align-items: center;
  }
}
.Fonctionnement .Fonctionnement__liste .liste .li {
  display: flex;
  flex-wrap: nowrap;
}
.Fonctionnement .Fonctionnement__liste .liste .__btn {
  display: flex;
  font-family: var(--police-principale);
  position: relative;
  border-radius: 20px;
  padding: 20px 20px 20px 10px;
  width: 90%;
  border: none;
  gap: 25px;
  background-color: var(--title-color);
  justify-content: center;
  align-items: center;
  margin-bottom: 20px;
  box-shadow: 0 4px 15px 0px rgba(0, 0, 0, 0.15);
}
@media (min-width: 1024px) {
  .Fonctionnement .Fonctionnement__liste .liste .__btn {
    align-items: center;
    flex-wrap: nowrap;
    width: 100%;
  }
}
.Fonctionnement .Fonctionnement__liste .liste .btn-number {
  display: flex;
  font-size: 14px;
  width: 24px;
  height: 24px;
  align-items: center;
  justify-content: center;
  position: absolute;
  left: -12px;
  z-index: 1;
  color: white;
  background-color: var(--main-color);
  border-radius: 40px;
}
.Fonctionnement .Fonctionnement__liste .liste .hover-violet {
  color: grey;
}
.Fonctionnement .Fonctionnement__liste .liste .hover-violet:hover {
  color: var(--main-color);
}

.Restaurants {
  background-color: var(--title-color);
  font-family: var(--police-principale);
  width: 100%;
}
.Restaurants .Restaurants-content {
  display: flex;
  flex-direction: column;
  padding: 20px;
}
@media (min-width: 1024px) {
  .Restaurants .Restaurants-content {
    gap: 50px;
    margin: 55px 140px 65px;
  }
  .Restaurants .Restaurants-content h2 {
    font-family: var(--police-principale);
  }
}
.Restaurants .Restaurants-content .Restaurants-cards {
  display: flex;
  flex-direction: column;
  gap: 20px;
  width: 100%;
}
@media (min-width: 1024px) {
  .Restaurants .Restaurants-content .Restaurants-cards {
    flex-direction: row;
    gap: 50px;
    flex-basis: 100%;
  }
}
.Restaurants .Restaurants-content .Restaurants-cards .card {
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  position: relative;
  background-color: #FFFFFF;
  border-radius: 20px;
  width: 100%;
}
.Restaurants .Restaurants-content .Restaurants-cards .card a {
  text-decoration: none;
  color: black;
}
.Restaurants .Restaurants-content .Restaurants-cards .card-new {
  display: flex;
  background-color: #99E2D0;
  color: #008766;
  border-radius: 2px;
  font-family: var(--police-principale);
  font-size: 0.875rem;
  width: 5rem;
  height: 29px;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: 13px;
  right: 13px;
  z-index: 1;
}
.Restaurants .Restaurants-content .Restaurants-cards .card img {
  display: flex;
  object-fit: cover;
  width: 100%;
  height: 174px;
  border-radius: 15px 15px 0 0;
  /* pour rogner les images clip-path: inset(40px 0px 0px 0px);*/
}
.Restaurants .Restaurants-content .Restaurants-cards .card-contenant {
  display: flex;
  justify-content: space-between;
  padding: 0px 10px 0px 10px;
}
.Restaurants .Restaurants-content .Restaurants-cards .card-contenant .card-heart {
  height: 2rem;
  width: 2rem;
  padding: 15px;
  display: inline-block;
  align-items: center;
  justify-content: center;
  position: relative;
  overflow: hidden;
}
.Restaurants .Restaurants-content .Restaurants-cards .card-contenant .card-heart .icon-empty {
  opacity: 1;
  font-size: 1.6rem;
  cursor: pointer;
  position: absolute;
  transition: 0.2s linear;
}
.Restaurants .Restaurants-content .Restaurants-cards .card-contenant .card-heart .icon-fill {
  opacity: 0;
  font-size: 1.6rem;
  cursor: pointer;
  position: absolute;
  z-index: 2;
  background: linear-gradient(0deg, #ab5edc 0%, #df6fda 58%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  transition: 0.2s linear;
}
.Restaurants .Restaurants-content .Restaurants-cards .card-contenant .card-heart:hover .icon-fill {
  opacity: 1;
}
.Restaurants .Restaurants-content .Restaurants-cards .card-contenant .card-heart:hover .icon-empty {
  opacity: 0;
}
.Restaurants .Restaurants-content .Restaurants-cards .card-txt {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  width: 85%;
  height: auto;
}
.Restaurants .Restaurants-content .Restaurants-cards .card-txt h3 {
  margin: 15px 0px 0px 2px;
  font-family: var(--police-principale);
  font-size: 15px;
}
.Restaurants .Restaurants-content .Restaurants-cards .card-txt p {
  margin: 5px 2px 15px 2px;
  font-family: var(--police-principale);
  font-weight: 180;
  font-size: 14px;
}

footer {
  padding: 10px 0px 10px 0px;
  background-color: #353535;
}
@media (min-width: 1024px) {
  footer {
    display: flex;
    align-items: center;
    flex-direction: row-reverse;
    padding-top: 50px;
  }
}
footer .footer-logo {
  font-family: var(--police-logo-titre);
  color: white;
  font-size: 19px;
  list-style: none;
  padding-left: 40px;
}
@media (min-width: 1024px) {
  footer .footer-logo {
    padding-left: 80px;
    padding-right: 70px;
  }
}
footer .footer-complet {
  display: flex;
  flex-direction: column;
  align-items: baseline;
  gap: 17px;
  font-family: var(--police-principale);
  list-style: none;
  font-weight: 500;
}
@media (min-width: 1024px) {
  footer .footer-complet {
    flex-direction: row;
    gap: 19px;
  }
}
footer .footer-complet li {
  display: flex;
  gap: 18px;
}
@media (min-width: 1024px) {
  footer .footer-complet .__mention {
    padding-left: 49px;
  }
}
footer .footer-complet a {
  text-decoration: none;
  color: white;
}
footer .footer-complet .fa-handshake-angle {
  width: 13px;
}/*# sourceMappingURL=Style.css.map */